
 .mus{
     width: 100%;
     display: flex;
     flex-direction: column;
     overflow-x: hidden;
     font-family: 'DM Sans', sans-serif;
 }
 .us{
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
 }
 .contact{
    /* background: image("../Asset/connect.png", #130F26D1); */
    /* background: url("../Asset/connect.png"); */
    background-color: #1a1729d1;
    height: 604px;
    filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 214));
    position: relative;
}
.contact img{
    width: fit-content;
}
.con{
    font-weight: 700;
    font-size: 60px;
    line-height: 81.2px;
}
.help{
    position: absolute;
    top: 300px;
    left: 70px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #ffffff;
}
.you{
    font-weight: 500;
    font-size: 18px;
    line-height: 23.44px;
    width: 577px;
}

.intouch{
    color: #0075FF;
    padding: 120px 30px 0px 70px;
    height: 60px;
    font-weight: 500;
    font-size: 46px;
    /* line-height: 39.89px; */
    font-family: sans-serif; 
}
.locale{
    display: flex;
    flex-direction: row;
    padding: 70px; 
}
.locate{
    margin-left: 200px;
}
.location p{
    width: 288px;
    padding-top: 10px;
    line-height: 31.25px;
    color: #418DF9;
    font-weight: 500;
    font-size: 24px;
    font-family: sans-serif;
}
.location img{
    margin-left: 0px;
}
.connect{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.add{
    margin-left: 120px;
}
.mail{
    width: 621px;
    height: 106px;
    background: #F3F1F1;
    margin-bottom: 13px;
    border-radius: 5px;
}
.message{
    height: 297px;
    width: 621px;
    background: #F3F1F1;
    border-radius: 5px;
    margin-bottom: 20px;
}
.send{
    height: 80px;
    width: 621px;
    background: #4E60D3;
    border-radius: 5px;

}
.session8{
    background: #0075FF;
    margin-top: 80px;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 681px;
}
.session8 .downloadApp{
    color: white;
}
.session8 .downloadApp h2{
    width: 302px;
    height: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.session8 .downloadApp p{
    width: 540px;
    height: 72px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}

.iphone3{
    display: flex;
    flex-direction: row;
}
.phone1{
    padding-bottom: 10px;
    height: 491px;
}
.phone2{
    padding-top: 190px;
    height: 491px;
}
.storey{
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-top: 40px;
}
.playersRight{
    border: 2px solid #130F26;
    background-color: white;
    border-radius: 13px;
    color: #130F26;
    width: 41%;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 7.3px;
    padding-bottom: 7.3px;
    font-weight: 400;
    font-size: 14.11px;
    font-family: 'DM Sans', sans-serif;
}

.playersRight span{
    font-weight: 700;
    font-size: 20.11px;
}
.playerRight{
 padding-top: 10px;
}
.downFlexRight{
    text-align: center;
}

.store{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.players{
    border: 2px solid white;
    background-color: #130F26;
    border-radius: 13px;
    color: white;
    width: 41%;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 7.3px;
    padding-bottom: 7.3px;
    font-weight: 400;
    font-size: 14.11px;
    font-family: 'DM Sans', sans-serif;
}

.players span{
    font-weight: 700;
    font-size: 20.11px;
}
.player{
 padding-top: 10px;
}
.downFlex{
    text-align: center;
}

@media (min-width: 220px) and (max-width: 640px) {
    .us{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .contact{
        background-color: #1a1729d1;
        height: 100%;
        filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 214));
        position: relative;
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-left: 0px;
        margin-top: 30px;
    }
    .contact img{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .con{
        font-weight: 700;
        font-size: medium;
        line-height: 41.2px;
    }
    .help{
        position: absolute;
        top: 160px;
        left: 50px;
    }
    .you{
        font-weight: 500;
        font-size: small;
        line-height: 13.44px;
        width: 90%;
        text-align: justify;
    }
    
    .intouch{
        color: #0075FF;
        padding: 80px 30px 0px 30px;
        height: 60px;
        font-weight: 700;
        font-size: medium;
    }
    .locale{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .locate{
        margin-left: 0px;
        margin-top: 40px;
    }
    .location p{
        width: 90%;
        padding-top: 0px;
        line-height: 31.25px;
        font-weight: 500;
        font-size: medium;
    }
    .location img{
        margin-left: 0px;
    }
    .connect{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }
    .usreach img{
        width: 100%;
        height: 100%;
    }
    .add{
        margin-left: 0px;
        margin-top: 20px;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
        width: 100%;
        
    }
    .mail{
        width: 95%;
        padding-top: 20px;
        align-items: flex-start;
        justify-content: flex-start;
        padding-left: 10px;
        display: flex;
        height: 40px;
        color: rgb(204, 197, 197);
        background: #F3F1F1;
        margin-bottom: 13px;
        margin-top: 10px;
        border-radius: 5px;
    }
    .message{
        height: 130px;
        padding-top: 20px;
        padding-left: 10px;
        width: 95%;
        align-items: flex-start;
        justify-content: flex-start;
        color: rgb(204, 197, 197);
        background: #F3F1F1;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .send{
        height: 30px;
        padding-top: 10px;
        padding-left: 10px;
        width: 95%;
        color: rgb(255, 255, 255);
        background: #4E60D3;
        border-radius: 5px;
    }
    .session8{
        display: flex;
        flex-direction: column-reverse;
        height: 1100px;
        
    }
    .session8 .downloadApp h2{
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 36px;
        line-height: 64px;
    }
    .session8 .downloadApp p{
        width: 90%;
        margin: auto;
        height: 96px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
       
    }
    .session8 .store{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apple{
        width: 46%;
        height: 78px;
    }
    .playPlay{
        width: 46%;
        height: 78px;
    }
    .storey{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .playersRight{
        width: 100%;
    }
    .store{
        gap: 10px;
    }
    .players{
        width: 55%;
        padding-top: 7.7px;
        padding-bottom: 7.7px;
    }
    
    .session8 .iphone3{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: -150px;
      
    }
    .iphone3 .phone1{
        height: 93%; 
        display: flex;

    }
    .iphone3 .phone2{
        display: none;
    } 



}

  @media (min-width: 641px) and (max-width: 768px) {
    .contact{
        /* background: image("../Asset/connect.png", #130F26D1); */
        /* background: url("../Asset/connect.png"); */
        background-color: #1a1729d1;
        height: 304px;
        filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 214));
        position: relative;
        width: 100%;
    }
    .contact img{
        width: 100%;
    }
    .con{
        font-weight: 700;
        font-size: 30px;
        line-height: 41.2px;
    }
    .help{
        position: absolute;
        top: 160px;
        left: 70px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ffffff;
    }
    .you{
        font-weight: 600;
        font-size: 12px;
        line-height: 23.44px;
        width: 90%;
    }
    
    .intouch{
        color: #0075FF;
       display: flex;
       flex-direction: column;
       align-items: center;
       justify-content: center;
        font-weight: 500;
        font-size: 26px;
        font-family: sans-serif; 
    }
    .locale{
        display: flex;
        flex-direction: column;
        align-items: center; 
        justify-content: center;
    }
    .locate{
        margin-left: 0px;
        margin-top: 40px;
    }
    .location p{
        width: 100%;
        padding-top: 10px;
        line-height: 31.25px;
        color: #418DF9;
        font-weight: 500;
        font-size: 24px;
        font-family: sans-serif;
    }
    .location img{
        margin-left: 5px;
    }
    .connect{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    
    .usreach{
        /* display: flex; */
        width: 90%;
    }
    .usreach img{
        width: 100%;
        height: 300px;
    }
    .add{
        margin-left: 0px;
        margin-top: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .mail{
        width: 90%;
        height: 86px;
        background: #F3F1F1;
        margin-bottom: 13px;
        text-align: center;
        border-radius: 5px;
        justify-content: center;
        align-items: center;
        display: flex;
    }
    .message{
        height: 197px;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 90%;
        background: #F3F1F1;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .send{
        height: 80px;
        width: 90%;
        background: #4E60D3;
        border-radius: 5px;
    }
    .session8{
        display: flex;
        flex-direction: column-reverse;
        height: 1100px;
        
    }
    .session8 .downloadApp h2{
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 36px;
        line-height: 64px;
    }
    .session8 .downloadApp p{
        width: 90%;
        margin: auto;
        height: 96px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
       
    }
    .session8 .store{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apple{
        width: 46%;
        height: 78px;
    }
    .playPlay{
        width: 46%;
        height: 78px;
    }
    .storey{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .playersRight{
        width: 100%;
    }
    .store{
        gap: 10px;
    }
    .players{
        width: 55%;
        padding-top: 7.7px;
        padding-bottom: 7.7px;
    }
    
    .session8 .iphone3{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: -150px;
      
    }
    .iphone3 .phone1{
        /* width: 202.33px; */
        height: 93%; 
        display: flex;

    }
    .iphone3 .phone2{
        display: none;
    } 
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .contact{
        /* background: image("../Asset/connect.png", #130F26D1); */
        /* background: url("../Asset/connect.png"); */
        background-color: #1a1729d1;
        height: 304px;
        filter: opacity(0.5) drop-shadow(0 0 0 rgb(0, 0, 214));
        position: relative;
        width: 400px;
    }
    .contact img{
        width: 400px;
    }
    .con{
        font-weight: 700;
        font-size: 30px;
        line-height: 41.2px;
    }
    .help{
        position: absolute;
        top: 300px;
        left: 70px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        color: #ffffff;
    }
    .you{
        font-weight: 500;
        font-size: 12px;
        line-height: 13.44px;
        width: 377px;
    }
    
    .intouch{
        color: #0075FF;
        padding: 120px 30px 0px 70px;
        height: 60px;
        font-weight: 500;
        font-size: 26px;
        /* line-height: 39.89px; */
        font-family: sans-serif; 
    }
    .locale{
        display: flex;
        flex-direction: column;
        padding: 50px; 
    }
    .locate{
        margin-left: 0px;
        margin-top: 40px;
    }
    .location p{
        width: 208px;
        padding-top: 10px;
        line-height: 31.25px;
        color: #418DF9;
        font-weight: 500;
        font-size: 24px;
        font-family: sans-serif;
    }
    .location img{
        margin-left: 5px;
    }
    .connect{
        display: flex;
        flex-direction: column;
        margin: 20px;
    }
    .usreach img{
        width: 380px;
        height: 300px;
    }
    .add{
        margin-left: 0px;
        margin-top: 20px;
    }
    .mail{
        width: 331px;
        height: 86px;
        background: #F3F1F1;
        margin-bottom: 13px;
        border-radius: 5px;
    }
    .message{
        height: 197px;
        width: 331px;
        background: #F3F1F1;
        border-radius: 5px;
        margin-bottom: 20px;
    }
    .send{
        height: 80px;
        width: 331px;
        background: #4E60D3;
        border-radius: 5px;
    }
    .session8{
        display: flex;
        flex-direction: column-reverse;
        height: 1100px;
        
    }
    .session8 .downloadApp h2{
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 36px;
        line-height: 64px;
    }
    .session8 .downloadApp p{
        width: 90%;
        margin: auto;
        height: 96px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
       
    }
    .session8 .store{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apple{
        width: 46%;
        height: 78px;
    }
    .playPlay{
        width: 46%;
        height: 78px;
    }
    .storey{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .playersRight{
        width: 100%;
    }
    .store{
        gap: 10px;
    }
    .players{
        width: 55%;
        padding-top: 7.7px;
        padding-bottom: 7.7px;
    }
    
    .session8 .iphone3{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: -150px;
      
    }
    .iphone3 .phone1{
        /* width: 202.33px; */
        height: 93%; 
        display: flex;

    }
    .iphone3 .phone2{
        display: none;
    } 
  }