
 *{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}

.row{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 15px;
    overflow-x:hidden;
}
.logo{
    padding-top: 10px;
}
.guide{
    text-decoration: none;
    color: #000;
    padding-left: 35px;
    font-size: 16px;
    font-weight: 500;
    font-family: sans-serif;
}
.guide:hover{
    color: #0075FF;
    text-decoration: underline;
}
.guider{
    text-decoration: none;
    color: #000;
}
.guiding{
    text-decoration: none;
    color: #000;
}
.guiding:hover{
    color: royalblue;
    text-decoration: underline;
    background-color: #ffffff;
   
}
.in{
    height: 40px;
    width: 88px;
    border: 1px solid black;
    border-radius: 5px;
    padding-top: 15px;
    padding-left: 28px;
}
.guidin{
    text-decoration: none;
    color: #ffffff;
}
.guidin:hover{
    color: royalblue;
    text-decoration: underline;
}
.out{
    width: 172px;
    height: 40px;
    background-color: #000;
    border: 1px solid #ffffff;
    border-radius: 5px;
    margin-left: 30px;
    padding-top: 15px;
    padding-left: 28px;
}
.ham{
    padding-left: 570px;
    display: flex;
    flex-direction: row;
}
.hamburger{
    display: none;
}


@media (min-width: 220px) and (max-width: 640px) {
    .row{
        justify-content: center;
         gap: 200px;
    }
    ul{
        list-style: none;
    }
    .ham{
        display: none;
        padding-left: 0px;
    }
    .in{
        height: 20px;
        width: 50px;
        font-size: small;
        border-radius: 5px;
        padding-top: 9px;
        padding-bottom: 5px;
        margin-top: 20px;
        margin-left: 0px;
        padding-left: 18px;
    }
    .out{
        width: 130px;
        height: 20px;
        border-radius: 5px;
        margin-left: 10px;
        padding-top: 10px;
        font-size: small;
        padding-left: 13px;
        padding-bottom: 6px;
        margin-top: 20px;
    }
    .guide{
        display: none;
        text-decoration: none;
        color: #000;
        padding-left: 18px;
        font-size: small;
        font-weight: 500;
        font-family: sans-serif;
    }
    .hamburger{
        display: block;
        padding-top: 10px;
    }
}
@media (min-width: 641px) and (max-width: 768px) {
    .hamburger{
        display: block;
        padding-top: 10px;
    }
    ul{
        list-style: none;
    }
    .row{
        justify-content: center;
         gap: 155px;
    }
   
    .ham{
        display: none;
        padding-left: 0px;
    }
    
    .in{
        height: 20px;
        width: 90px;
        font-size: medium;
        border-radius: 5px;
        padding-top: 15px;
        padding-bottom: 10px;
        margin-top: 10px;
        margin-left: 5px;
        padding-left: 18px;
    }
    .out{
        width: 190px;
        height: 40px;
        border-radius: 5px;
        margin-left: 10px;
        padding-top: 15px;
        font-size: medium;
        padding-left: 28px;
        padding-bottom: 10px;
        margin-top: 10px;
    }
    .guide{
        display: none;
        text-decoration: none;
        color: #000;
        padding-left: 18px;
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
    }
}

@media (min-width: 769px) and (max-width: 1024px) {
    
    .row{  
        padding: 15px 18px 15px 18px;
        flex-direction: column;
    }
    .ham{
        padding-left: 0px;
    }
    .guide{
        text-decoration: none;
        color: #000;
        padding-left: 25px;
        font-size: 16px;
        font-weight: 500;
        font-family: sans-serif;
    }
    .hamburger{
        display: none;
    }
}
