@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

*{
    margin: 0;
    padding: 0;
    font-family: 'DM Sans', sans-serif;
}
.featr{
    width: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    overflow-x: hidden; 
}
.features{
    justify-content: center;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.session1{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-right: 110px; 
    padding-top: 30px;  
}
 .ph{
    z-index: 1;
    position: absolute;
}
.phh{
    position: relative;
    left: 209px;
} 
.perfect h4{
    width: 629px;
    font-size: 50px;
    font-weight: 700;
    line-height: 66.16px;
    height: 152px;
    width: 565px;
    color: #130f26; 
}
.perfect{
    padding-top: 130px;  
}
.perfect p{
    width: 516px;
    font-size: 24px;
    line-height: 31.25px;
    font-weight: 400;
    left: 80px;
    color: #130f26;
}
.btnGet{
    line-height: 10px;
    padding-top: 30px;
}
.btnGet button{
    background: #0075FF;
    color: white;
    width: 291px;
    height: 63px;
    border-radius: 4px;
    border: 1px solid transparent;
}
.change{
    margin-top: 40px;
    gap: 20px;
    display: flex;
    flex-direction: row;
}
.span{
    color: #0075FF;
}
.change button{
    border: 2px solid #130F26;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: center;
    align-items: center;
    width: 221px;
    height: 71px;
    background: #ffffff;
}
.change .names{
    font-size: 18px;
    font-weight: 700;
    width: 115px;
    line-height: 27.2px;
    text-align: start;
    max-width: 90%;
    height: 90%;
}
.session2{
    background: #418DF9;
    height: 100px;
}
.brand{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    color: white;
}
.around{
    align-items: center;
    text-align: center;
    line-height: 40px;
    color: white;
}
.session3{
    display: flex;
    flex-direction: row;
    gap: 50px;
    padding-top: 60px;
}
.aboutTell{
    padding-top: 80px;
}
.aboutTell h1{
    font-size: 48px;
    font-weight: 600;
    padding-bottom: 25px;
    height: 65px;
    line-height: 65.28px;
}
.aboutTell p{
    font-weight: 400px;
    font-size: 18px;
    line-height: 32px;
    width: 640px;
    height: 224px;

}
.aboutTell .btnLearn{
    padding-top: 20px;
}
.aboutTell button{
    margin-top: 40px;
    width: 160px;
    height: 60px;
    background-color: white;
    border-radius: 4px;
    color: #0075FF;
    border: 1px solid #0075FF;
}
.session4 {
    padding-top: 100px;
}
.session4 h1{
    font-size: 48px;
    font-weight: 600;
}
.session4 .realsteps{
    display: flex;
    flex-direction: row;
    gap: 25px;
    padding-top: 50px;
}
.realsteps p{
    line-height: 32px;
}
.session4 .steps{
    border: 1px solid #949eb0;
    width: 340px;
    border-radius: 5px;
    height: 230px;
    padding: 18px;
    background-color: white;
    max-width: 100%;
    max-height: 100%;
    
}

.session4 h4{
    height: 60px;
    font-weight: 600;
    font-size: 32px;
    line-height: 65.28px;
}

.session5{
    display: flex;
    flex-direction: row;
    gap: 60px;
    padding-top: 100px;
    padding-bottom: 40px;
}
.session5a{
    margin-top: 60px;
}
.session5a h2{
    width: 370.74px;
    padding-bottom: 20px;
    height: 130px;
    line-height: 65.28px;
    font-size: 48px;
    top: 90px;
    font-weight: 600;

}
.session5a p{
    width: 370px;
    height: 128px;
    text-align: justify;
    top: 230px;
    font-weight: 400;
    font-size: 18px;
    line-height: 32px;
}
.session5b{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    justify-content: space-around;
    line-height: 30px;
}
.session5b .secure{
    border: 1px solid transparent;
    border-radius: 5px;
    background: #FCB04B40;
    width: 400px;
    height: 220px;
    padding-left: 20px;
    padding-top: 40px;
}
.session5b .secured{
    border: 1px solid transparent;
    background: #FCAE4940;
    border-radius: 5px;
    width: 400px;
    height: 220px;
    margin-top: 25px;
    padding-top: 40px;
}
.session5b .securer{
    border: 1px solid transparent;
    border-radius: 5px;
    background: #0075FF40;
    width: 400px;
    height: 220px;
    padding-top: 40px;
}
.session5b h2{
    line-height: 30.6px;
    width: 276.85px;
    font-size: 28.15px;
    font-weight: 600;
    margin: auto;
    max-width: 100%;
    max-height: 100%;
   
}
.session5b p{
    padding-top: 10px;
    width: 342px;
    margin: auto;
    font-size: 18.77px;
    text-align: start;
    font-weight: 400;
    line-height: 24.44px;
    max-height: 100%;
    max-width: 100%;
}
.session6{
    margin-top: 50px;
}
.session6 h1{
    width: 590px;
    height: 65px;
    left: 1px;
    padding-top: 20px;
    padding-bottom: 20px;
    font-weight: 600;
    font-size: 48px;
    line-height: 65.28px;
}
.session6 .explore{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;
    padding-top: 63px;
    padding-bottom: 63px;
}
.session6 .support{
    border: 1px solid transparent;
    box-shadow: 2px 18px 22px rgb(216, 214, 214);
    border-radius: 5px;
   margin-bottom: 40px;
   padding: 30px;
   width: 200px;
    height: 127px;
    top: 129px;
}
.session6 .support h4{
    padding-top: 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.25px;
}
.session6 .support p{
    line-height: 39px;
    font-size: 16px;
    font-weight: 400;
    color: #949EB0;

}
.session7 h1{
    padding-top: 50px;
    padding-bottom: 50px;
    font-weight: 600;
    font-size: 48px;
    line-height: 65.28px;
}
.session7 .recommend{
    display: grid;
    gap: 20px;
    grid-template-columns: repeat(3, 1fr);
    padding-top: 20px;
    padding-bottom: 20px;
}
.session7 .commend{
    border: 2px solid #949EB0;
    width: 370px;
    height: 244px;
    top: 129px;
    border-radius: 5px;
    margin-bottom: 40px;
}
.recommend .plum{
    display: flex;
    flex-direction: row;
    padding: 9px 20px 9px 20px;
}
.recommend .plum .ville{
    padding-left: 30px;
}
.recommend .plum .ville h6{
    padding-top: 10px;
    color: #949EB0;

}
.recommend .plum .ville p{
    color: #130F26;
    font-weight: 400;
    line-height: 23.44px;
    font-size: 18px;

}
.recommend h4{
    font-weight: 700;
    font-size: 24px;
    line-height: 31.35px;
}
.commend h4{
    padding: 1px 20px 1px 20px;
    font-weight: 700;
    font-size: 24px;
    line-height: 31.25px;
    color: #130F26;

}
.commend p{
    padding: 5px 20px 5px 20px;
    line-height: 26px;
    font-weight: 400;
    font-size: 16px;
    color: #383838;

}


.session8{
    background: #0075FF;
    gap: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    height: 681px;
}
.session8 .downloadApp{
    color: white;
}
.session8 .downloadApp h2{
    width: 302px;
    height: 70px;
    padding-top: 70px;
    padding-bottom: 70px;
    font-weight: 600;
    font-size: 48px;
    line-height: 64px;
}
.session8 .downloadApp p{
    width: 540px;
    height: 72px;
    font-weight: 400;
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 16px;
    line-height: 24px;
}
/* .session8 .store{
    padding-top: 30px;
    padding-bottom: 30px;
} */
.iphone3{
    display: flex;
    flex-direction: row;
}
.phone1{
    padding-bottom: 10px;
    height: 491px;
}
.phone2{
    padding-top: 190px;
    height: 491px;
}
.storey{
    display: flex;
    flex-direction: row;
    gap: 3%;
    padding-top: 40px;
}
.playersRight{
    border: 2px solid #130F26;
    background-color: white;
    border-radius: 13px;
    color: #130F26;
    width: 41%;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 7.3px;
    padding-bottom: 7.3px;
    font-weight: 400;
    font-size: 14.11px;
    font-family: 'DM Sans', sans-serif;
}

.playersRight span{
    font-weight: 700;
    font-size: 20.11px;
}
.playerRight{
 padding-top: 10px;
}
.downFlexRight{
    text-align: center;
}

.store{
    display: flex;
    flex-direction: row;
    gap: 3%;
}
.players{
    border: 2px solid white;
    background-color: #130F26;
    border-radius: 13px;
    color: white;
    width: 41%;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 7.3px;
    padding-bottom: 7.3px;
    font-weight: 400;
    font-size: 14.11px;
    font-family: 'DM Sans', sans-serif;
}

.players span{
    font-weight: 700;
    font-size: 20.11px;
}
.player{
 padding-top: 10px;
}
.downFlex{
    text-align: center;
}
.session9{
    padding-top: 49px;
    padding-bottom: 20px;
}
.session9 .speak .child{
    line-height: 40px;
    padding-top: 50px;
    padding-bottom: 30px;
    color: #949EB0;

}
hr{
    background: #949EB0;
    border: 1px solid #949EB0;
    width: 100%;

}
.speak .speaker{
    width: 3px;
    height: 3px;
}
.avatar{
    /* margin-top: 20px; */
    display: flex;
    gap: 20%;
    flex-direction: row;
}
.kind{
    display: flex;
    flex-direction: column;
    gap: 0px;
    color: #949EB0;
    
}
.avat{
    width:50px;
    height:50px;
}
.session9 h2{
    font-weight: 600;
    font-size: 48px;
    line-height: 65.28px;
    align-items: center;
    justify-content: center;
    display: flex;
}
.session9 .customers{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}
.session9 .customers .speak{
    border: 1px solid transparent;
    box-shadow: 4px 4px 4px rgb(199, 195, 195);
    width: 388px;
    height: fit-content;
    border-radius: 16px;
    padding: 20px 20px 20px 20px; 
}
.session9 .customers .speaky{
    border: 1px solid transparent;
    box-shadow: 4px 4px 4px rgb(199, 195, 195);
    width: 408px;
    height: 492px;
    border-radius: 16px;
}
.arrow{
    display: flex;
    flex-direction: row;
    padding-bottom: 40px;
    gap: 24px;
    margin-right: 88%; 
}

@media (min-width: 220px) and (max-width: 640px) {

    .session8{
        display: flex;
        flex-direction: column-reverse;
        height: 1100px;
        
    }
    .session8 .downloadApp h2{
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 36px;
        line-height: 64px;
    }
    .session8 .downloadApp p{
        width: 90%;
        margin: auto;
        height: 96px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
       
    }
    .session8 .store{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apple{
        width: 46%;
        height: 78px;
    }
    .playPlay{
        width: 46%;
        height: 78px;
    }
    .storey{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .playersRight{
        width: 100%;
    }
    .store{
        gap: 10px;
    }
    .players{
        width: 55%;
        padding-top: 7.7px;
        padding-bottom: 7.7px;
    }
    
    .session8 .iphone3{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: -150px;
      
    }
    .iphone3 .phone1{
        height: 93%; 
        display: flex;

    }
    .iphone3 .phone2{
        display: none;
    } 

    .features{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box; 
       
    }
    .session1{
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        width: 100%;
        align-items: center;
        justify-content: center;
    } 
    .iphone{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .ph img{
       height: 80%;
       width: 80%;
    }
    .phh img{
       height: 80%;
       width: 80%;
    }
    .phh{
        left: 80px;
    } 
    .perfect{
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .perfect h4{
        width: 90%;
        margin: auto;
        font-size: 32px;
        font-weight: 600;
        line-height: 27.16px;
        padding-bottom: 0px;
    }
    .perfect p{
        width: 95%;
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        text-align: center; 
        line-height: 24px;
        font-weight: 400;
        height: 62px;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .btnGet{
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .btnGet button{
        width: 60%;
        height: 62px;
        font-size: 18px;
        font-weight: 500;
    }
    .playersRight{
        width: 50%;
    }
    .storey{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .change{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .change button{
        width: 65%;
        height: 71px;
    }

    .brand{
        display: grid;
        grid-template-columns: 2, 2fr;
        justify-content: space-evenly;
        color: white;
        font-size: medium;
    }
    .session3{
        flex-direction: column-reverse;
        gap: 60px;
        padding-top: 0px;
        width: 100%;
    }
    .session3 img{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .aboutTell h1{
        font-size: larger;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 5px;
        line-height: 5.28px;
        width: 100%;
       
    }
    .aboutTell p{
        font-weight: 400px;
        width: 90%;
        align-items: center;
        justify-content: center;
         display: flex;
        margin: auto;
        font-size: small;
        line-height: 27px;
        padding-bottom: 16px;
        text-align: justify;
        
    }
    .aboutTell{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .aboutTell button{
        margin-top: 0px;
        font-size: small;
        width: 300%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 5px;
    }
    .aboutTell .btnLearn{
        padding-top: 0px;
        font-size: small;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .session4 {
        padding-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .session4 h1{
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        padding-bottom: 0px;
    }
    .session4 .realsteps{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 0;
    }
    .session4 .steps{
        margin-bottom: 30px;
        border-radius: 5px;
        height: 227px;
        width: 90%;
    }
    .session4 h4{
        height: 30px;
        font-weight: 500;
        font-size: medium;
        line-height: 30.28px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .session4 p{
        font-size: small;
        text-align: justify;
    }
    .session5{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }
    .session5a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 0px;
    }
    .session5a h2{
        width: 100%;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        line-height: 45.28px;
        font-size: medium;
        top: 40px;
        font-weight: 600;    
    }
    .session5a p{
        width: 95%;
        display: flex;
        justify-content: center;
        font-size: small;
        top: 210px;
        line-height: 36px;
        text-align: center;
        padding-bottom: 0px;
    }
    .session5b{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    .session5b .secure{
        border: 1px solid transparent;
        border-radius: 5px;
        background: #FCB04B40;
        width: 92%;
        height: 227px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-top: 10px;
    }
    .session5b .secured{
        border: 1px solid transparent;
        background: #FCAE4940;
        border-radius: 5px;
        width: 95%;
        height: 227px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .session5b .securer{
        border: 1px solid transparent;
        border-radius: 5px;
        background: #0075FF40;
        width: 95%;
        height: 227px;
        padding-top: 10px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .session5b h2{
        line-height: 30.6px;
        width: 90%;
        font-size: small;
        font-weight: 600;
        margin: auto;
        padding-top: 20px;
        
    }

    .session5b p{
        margin: auto;
        width: 90%;
        text-align: justify;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: small;
        font-weight: 400;
        line-height: 18.44px;
    }
    .session6{
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .session6 h1{
        text-align: center;
        height: 65px;
        padding-top: 10px;
        padding-bottom: 3px;
        font-weight: 600;
        font-size: small;
        line-height: 35.28px;
    }
    .session6 .explore{
        padding-top: 1px;
        padding-bottom: 1px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .session6 .support{
        border: 1px solid transparent;
        box-shadow: 2px 18px 22px rgb(216, 214, 214);
        border-radius: 5px;
       margin-bottom: 40px;
       width: 85%;
       max-width: 90%;
       text-align: center;
        height: 131px;
    }
    .session6 .support h4{
        font-size: 24px;
        font-weight: 700;
    }
    .session6 .support p{
        line-height: 39px;
        font-size: small;
        font-weight: 400;
    
    }
    .support img {
        display: none;
    }
    .session7{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .session7 h1{
        padding-bottom: 20px;
        font-weight: 700;
        font-size: large;
        line-height: 20.28px;
    }
    .session7 .recommend{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .session7 .commend{
        border: 2px solid #949EB0;
        width: 90%;
        /* width: 388px; */
        height: 239px;
        top: 129px;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .recommend .plum .ville p{
        color: #130F26;
        font-weight: 400;
        line-height: 23.44px;
        font-size: small;
    
    }
    .recommend h4{
        font-weight: 700;
        font-size: small;
        line-height: 21.35px;
    }
    .commend h4{
        padding-top: 1px;
        padding-bottom: 1px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21.25px;
        color: #130F26;
    
    }
    .commend p{
        padding-bottom: 5px;
        line-height: 20px;
        font-weight: 400;
        font-size: small;
        text-align: justify;
        color: #383838;
    }
    .session9{
        padding-top: 0px;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .session9 .speak p{
        line-height: 23px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    
    }
    .session9 h2{
        height: 65px;
        font-weight: 600;
        font-size: small;
        text-align: center;
        line-height: 35.28px;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .session9 .customers{
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .session9 .customers .speak:nth-child(2){
        display: none;
    }
    .session9 .customers .speak:nth-child(3){
        display: none;
    }
    .session9 .customers .speak{
        border: 1px solid transparent;
        box-shadow: -4px 2px 4px 1px rgb(236, 230, 230);
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: justify;
        height: fit-content;
        border-radius: 16px;
        padding-top: 20px; 
        margin-bottom: 10px;
    }
    .session9 .customers .speak p {
        font-size: small;
        width: 90%;
        text-align: center;
    }
    /* .session9 .customers .speaky{
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgb(199, 195, 195);
         width: 408px;
        height: 492px;
        border-radius: 16px;

    } */
    /* .session9 .customers .speaker{
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgb(199, 195, 195);
        width: 408px;
        height: 492px;
        border-radius: 16px;
        
    } */
    .arrow{
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
        margin-right: 60%;
        margin-top: 0px;
    }
    .avatar{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .avatar p{
        padding-top: 0px;
        align-items: center;
        justify-content: center;
    }
    .kind{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0px;
        color: #949EB0;
        
    }
    .change{
        flex-direction: column;
    }
  }

  @media (min-width: 641px) and (max-width: 768px) {
    .session8{
        display: flex;
        flex-direction: column-reverse;
        height: 1100px;
        
    }
    .session8 .downloadApp h2{
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 36px;
        line-height: 64px;
    }
    .session8 .downloadApp p{
        width: 90%;
        margin: auto;
        height: 96px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
       
    }
    .session8 .store{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apple{
        width: 46%;
        height: 78px;
    }
    .playPlay{
        width: 46%;
        height: 78px;
    }
    .storey{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .playersRight{
        width: 100%;
    }
    .store{
        gap: 10px;
    }
    .players{
        width: 55%;
        padding-top: 7.7px;
        padding-bottom: 7.7px;
    }
    
    .session8 .iphone3{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: -150px;
      
    }
    .iphone3 .phone1{
        /* width: 202.33px; */
        height: 93%; 
        display: flex;

    }
    .iphone3 .phone2{
        display: none;
    } 
    .features{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box; 
       
    }
    .session1{
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        width: 100%;
        align-items: center;
        justify-content: center;
    } 
    .iphone{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .ph img{
       height: 80%;
       width: 80%;
    }
    .phh img{
       height: 80%;
       width: 80%;
    }
    .phh{
        left: 80px;
    } 
    .perfect{
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .perfect h4{
        width: 100%;
        font-size: 32px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        display: flex;
        line-height: 27.16px;
        padding-bottom: 0px;
        line-height: 3.52px;
    }
    .perfect p{
        width: 95%;
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        text-align: center; 
        line-height: 24px;
        font-weight: 400;
        height: 62px;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .btnGet{
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .btnGet button{
        width: 60%;
        height: 62px;
        font-size: 18px;
        font-weight: 500;
    }
    .playersRight{
        width: 50%;
    }
    .storey{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .change{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .change button{
        width: 65%;
        height: 71px;
    }

    .brand{
        display: grid;
        grid-template-columns: 2, 2fr;
        justify-content: space-evenly;
        color: white;
        font-size: medium;
    }
    .session3{
        flex-direction: column-reverse;
        gap: 60px;
        padding-top: 0px;
        width: 100%;
    }
    .session3 img{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .aboutTell h1{
        font-size: larger;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 5px;
        line-height: 5.28px;
        width: 100%;
       
    }
    .aboutTell p{
        font-weight: 400px;
        width: 90%;
        align-items: center;
        justify-content: center;
         display: flex;
        margin: auto;
        font-size: small;
        line-height: 27px;
        padding-bottom: 16px;
        text-align: justify;
        
    }
    .aboutTell{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .aboutTell button{
        margin-top: 0px;
        font-size: medium;
        width: 300%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 5px;
    }
    .aboutTell .btnLearn{
        padding-top: 0px;
        font-size: medium;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .session4 {
        padding-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .session4 h1{
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        padding-bottom: 0px;
    }
    .session4 .realsteps{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 0;
    }
    .session4 .steps{
        margin-bottom: 30px;
        border-radius: 5px;
        height: 227px;
        width: 90%;
    }
    .session4 h4{
        height: 30px;
        font-weight: 500;
        font-size: medium;
        line-height: 30.28px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .session4 p{
        font-size: small;
        text-align: justify;
    }
    .session5{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }
    .session5a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 0px;
    }
    .session5a h2{
        width: 100%;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        line-height: 45.28px;
        font-size: large;
        top: 40px;
        font-weight: 600;    
    }
    .session5a p{
        width: 95%;
        display: flex;
        justify-content: center;
        font-size: medium;
        top: 210px;
        line-height: 36px;
        text-align: center;
        padding-bottom: 0px;
    }
    .session5b{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    .session5b .secure{
        border: 1px solid transparent;
        border-radius: 5px;
        background: #FCB04B40;
        width: 92%;
        height: 227px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-top: 10px;
    }
    .session5b .secured{
        border: 1px solid transparent;
        background: #FCAE4940;
        border-radius: 5px;
        width: 95%;
        height: 227px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .session5b .securer{
        border: 1px solid transparent;
        border-radius: 5px;
        background: #0075FF40;
        width: 95%;
        height: 227px;
        padding-top: 10px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .session5b h2{
        line-height: 30.6px;
        width: 90%;
        font-size: medium;
        font-weight: 600;
        margin: auto;
        padding-top: 20px;
        
    }

    .session5b p{
        margin: auto;
        width: 90%;
        text-align: justify;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: small;
        font-weight: 400;
        line-height: 18.44px;
    }
    .session6{
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .session6 h1{
        text-align: center;
        height: 65px;
        padding-top: 10px;
        padding-bottom: 3px;
        font-weight: 600;
        font-size: medium;
        line-height: 35.28px;
    }
    .session6 .explore{
        padding-top: 1px;
        padding-bottom: 1px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .session6 .support{
        border: 1px solid transparent;
        box-shadow: 2px 18px 22px rgb(216, 214, 214);
        border-radius: 5px;
       margin-bottom: 40px;
       width: 85%;
       max-width: 90%;
       text-align: center;
        height: 131px;
    }
    .session6 .support h4{
        font-size: 24px;
        font-weight: 700;
    }
    .session6 .support p{
        line-height: 39px;
        font-size: small;
        font-weight: 400;
    
    }
    .support img {
        display: none;
    }
    .session7{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .session7 h1{
        padding-bottom: 20px;
        font-weight: 600;
        font-size: medium;
        line-height: 20.28px;
    }
    .session7 .recommend{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .session7 .commend{
        border: 2px solid #949EB0;
        width: 100%;
        /* width: 388px; */
        height: 239px;
        top: 129px;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .recommend .plum .ville p{
        color: #130F26;
        font-weight: 400;
        line-height: 23.44px;
        font-size: small;
    
    }
    .recommend h4{
        font-weight: 700;
        font-size: medium;
        line-height: 21.35px;
    }
    .commend h4{
        padding-top: 1px;
        padding-bottom: 1px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21.25px;
        color: #130F26;
    
    }
    .commend p{
        padding-bottom: 5px;
        line-height: 20px;
        font-weight: 400;
        font-size: small;
        text-align: justify;
        color: #383838;
    }
    .session9{
        padding-top: 0px;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .session9 .speak p{
        line-height: 23px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    
    }
    .session9 h2{
        height: 65px;
        font-weight: 600;
        font-size: medium;
        text-align: center;
        line-height: 35.28px;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .session9 .customers{
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .session9 .customers .speak:nth-child(2){
        display: none;
    }
    .session9 .customers .speak:nth-child(3){
        display: none;
    }
    .session9 .customers .speak{
        border: 1px solid transparent;
        box-shadow: -4px 2px 4px 1px rgb(236, 230, 230);
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: justify;
        height: fit-content;
        border-radius: 16px;
        padding-top: 20px; 
        margin-bottom: 10px;
    }
    .session9 .customers .speak p {
        font-size: small;
        width: 90%;
        text-align: center;
    }
    /* .session9 .customers .speaky{
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgb(199, 195, 195);
         width: 408px;
        height: 492px;
        border-radius: 16px;

    } */
    /* .session9 .customers .speaker{
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgb(199, 195, 195);
        width: 408px;
        height: 492px;
        border-radius: 16px;
        
    } */
    .arrow{
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
        margin-right: 60%;
        margin-top: 0px;
    }
    .avatar{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .avatar p{
        padding-top: 0px;
        align-items: center;
        justify-content: center;
    }
    .kind{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0px;
        color: #949EB0;
        
    }
    .change{
        flex-direction: column;
    }
  
}
  @media (min-width: 769px) and (max-width: 1024px) {






    .session8{
        display: flex;
        flex-direction: column-reverse;
        height: 1100px;
        
    }
    .session8 .downloadApp h2{
        margin: auto;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 600;
        font-size: 36px;
        line-height: 64px;
    }
    .session8 .downloadApp p{
        width: 90%;
        margin: auto;
        height: 96px;
        text-align: center;
        justify-content: center;
        align-items: center;
        display: flex;
        font-weight: 400;
        font-size: 14px;
        line-height: 24px;
       
    }
    .session8 .store{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .apple{
        width: 46%;
        height: 78px;
    }
    .playPlay{
        width: 46%;
        height: 78px;
    }
    .storey{
        display: flex;
        flex-direction: column;
        gap: 20px;
        padding-top: 20px;
    }
    .playersRight{
        width: 100%;
    }
    .store{
        gap: 10px;
    }
    .players{
        width: 55%;
        padding-top: 7.7px;
        padding-bottom: 7.7px;
    }
    
    .session8 .iphone3{
        display: flex;
        flex-direction: column;
       justify-content: center;
       align-items: center;
       margin-top: -150px;
      
    }
    .iphone3 .phone1{
        /* width: 202.33px; */
        height: 93%; 
        display: flex;

    }
    .iphone3 .phone2{
        display: none;
    } 
    .features{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        box-sizing: border-box; 
       
    }
    .session1{
        display: flex;
        flex-direction: column;
        padding-right: 0px;
        width: 100%;
        align-items: center;
        justify-content: center;
    } 
    .iphone{
        width: 100%;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .ph img{
       height: 80%;
       width: 80%;
    }
    .phh img{
       height: 80%;
       width: 80%;
    }
    .phh{
        left: 80px;
    } 
    .perfect{
        padding-top: 0%;
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .perfect h4{
        width: 100%;
        font-size: 32px;
        font-weight: 700;
        justify-content: center;
        align-items: center;
        display: flex;
        line-height: 27.16px;
        padding-bottom: 0px;
        line-height: 3.52px;
    }
    .perfect p{
        width: 95%;
        display: flex;
        font-size: 16px;
        align-items: center;
        justify-content: center;
        text-align: center; 
        line-height: 24px;
        font-weight: 400;
        height: 62px;
        padding-top: 0px;
        padding-bottom: 40px;
    }
    .btnGet{
        padding-top: 10px;
        padding-bottom: 10px;
        align-items: center;
        display: flex;
        width: 100%;
        justify-content: center;
    }
    .btnGet button{
        width: 60%;
        height: 62px;
        font-size: 18px;
        font-weight: 500;
    }
    .playersRight{
        width: 50%;
    }
    .storey{
        display: flex;
        flex-direction: column;
        width: 100%;
        align-items: center;
        justify-content: center;
    }
    .change{
        flex-direction: column;
        align-items: center;
        display: flex;
        justify-content: center;
    }
    .change button{
        width: 65%;
        height: 71px;
    }

    .brand{
        display: grid;
        grid-template-columns: 2, 2fr;
        justify-content: space-evenly;
        color: white;
        font-size: medium;
    }
    .session3{
        flex-direction: column-reverse;
        gap: 60px;
        padding-top: 0px;
        width: 100%;
    }
    .session3 img{
        width: 90%;
        margin: auto;
        display: flex;
        justify-content: center;
    }
    .aboutTell h1{
        font-size: larger;
        font-weight: 700;
        align-items: center;
        justify-content: center;
        display: flex;
        height: 5px;
        line-height: 5.28px;
        width: 100%;
       
    }
    .aboutTell p{
        font-weight: 400px;
        width: 90%;
        align-items: center;
        justify-content: center;
         display: flex;
        margin: auto;
        font-size: small;
        line-height: 27px;
        padding-bottom: 16px;
        text-align: justify;
        
    }
    .aboutTell{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
    }
    .aboutTell button{
        margin-top: 0px;
        font-size: medium;
        width: 300%;
        margin: auto;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 50px;
        border-radius: 5px;
    }
    .aboutTell .btnLearn{
        padding-top: 0px;
        font-size: medium;
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50%;
    }
    .session4 {
        padding-top: 30px;
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        
    }
    .session4 h1{
        font-size: 20px;
        text-align: center;
        font-weight: 600;
        padding-bottom: 0px;
    }
    .session4 .realsteps{
        display: flex;
        flex-direction: column;
        align-items: center;
        width: 100%;
        justify-content: center;
        gap: 0;
    }
    .session4 .steps{
        margin-bottom: 30px;
        border-radius: 5px;
        height: 227px;
        width: 90%;
    }
    .session4 h4{
        height: 30px;
        font-weight: 500;
        font-size: medium;
        line-height: 30.28px;
        padding-top: 5px;
        padding-bottom: 20px;
    }
    .session4 p{
        font-size: small;
        text-align: justify;
    }
    .session5{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin: auto;
        padding-top: 10px;
        padding-bottom: 20px;
        align-items: center;
        justify-content: center;
    }
    .session5a{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding-bottom: 0px;
    }
    .session5a h2{
        width: 100%;
        padding-bottom: 0px;
        display: flex;
        align-items: center;
        justify-content: center;
        height: 60px;
        line-height: 45.28px;
        font-size: large;
        top: 40px;
        font-weight: 600;    
    }
    .session5a p{
        width: 95%;
        display: flex;
        justify-content: center;
        font-size: medium;
        top: 210px;
        line-height: 36px;
        text-align: center;
        padding-bottom: 0px;
    }
    .session5b{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding-top: 0px;
    }
    .session5b .secure{
        border: 1px solid transparent;
        border-radius: 5px;
        background: #FCB04B40;
        width: 92%;
        height: 227px;
        margin-bottom: 10px;
        margin-top: 10px;
        padding-top: 10px;
    }
    .session5b .secured{
        border: 1px solid transparent;
        background: #FCAE4940;
        border-radius: 5px;
        width: 95%;
        height: 227px;
        margin-top: 10px;
        margin-bottom: 10px;
        padding-top: 10px;
    }
    .session5b .securer{
        border: 1px solid transparent;
        border-radius: 5px;
        background: #0075FF40;
        width: 95%;
        height: 227px;
        padding-top: 10px;
        margin-top: 50px;
        margin-bottom: 10px;
    }
    .session5b h2{
        line-height: 30.6px;
        width: 90%;
        font-size: medium;
        font-weight: 600;
        margin: auto;
        padding-top: 20px;
        
    }

    .session5b p{
        margin: auto;
        width: 90%;
        text-align: justify;
        padding-top: 10px;
        padding-bottom: 10px;
        font-size: small;
        font-weight: 400;
        line-height: 18.44px;
    }
    .session6{
        width: 100%;
        margin: auto;
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: column;
    }
    .session6 h1{
        text-align: center;
        height: 65px;
        padding-top: 10px;
        padding-bottom: 3px;
        font-weight: 600;
        font-size: medium;
        line-height: 35.28px;
    }
    .session6 .explore{
        padding-top: 1px;
        padding-bottom: 1px;
        display: flex;
        width: 100%;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .session6 .support{
        border: 1px solid transparent;
        box-shadow: 2px 18px 22px rgb(216, 214, 214);
        border-radius: 5px;
       margin-bottom: 40px;
       width: 85%;
       max-width: 90%;
       text-align: center;
        height: 131px;
    }
    .session6 .support h4{
        font-size: 24px;
        font-weight: 700;
    }
    .session6 .support p{
        line-height: 39px;
        font-size: small;
        font-weight: 400;
    
    }
    .support img {
        display: none;
    }
    .session7{
        width: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .session7 h1{
        padding-bottom: 20px;
        font-weight: 600;
        font-size: medium;
        line-height: 20.28px;
    }
    .session7 .recommend{
        padding-top: 20px;
        padding-bottom: 20px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .session7 .commend{
        border: 2px solid #949EB0;
        width: 100%;
        /* width: 388px; */
        height: 239px;
        top: 129px;
        border-radius: 5px;
        margin-bottom: 40px;
    }
    .recommend .plum .ville p{
        color: #130F26;
        font-weight: 400;
        line-height: 23.44px;
        font-size: small;
    
    }
    .recommend h4{
        font-weight: 700;
        font-size: medium;
        line-height: 21.35px;
    }
    .commend h4{
        padding-top: 1px;
        padding-bottom: 1px;
        font-weight: 700;
        font-size: 18px;
        line-height: 21.25px;
        color: #130F26;
    
    }
    .commend p{
        padding-bottom: 5px;
        line-height: 20px;
        font-weight: 400;
        font-size: small;
        text-align: justify;
        color: #383838;
    }
    .session9{
        padding-top: 0px;
        padding-bottom: 20px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .session9 .speak p{
        line-height: 23px;
        padding-top: 40px;
        padding-bottom: 20px;
        text-align: center;
    
    }
    .session9 h2{
        height: 65px;
        font-weight: 600;
        font-size: medium;
        text-align: center;
        line-height: 35.28px;
        padding-top: 20px;
        padding-bottom: 5px;
    }
    .session9 .customers{
        display: flex;
        flex-direction: row;
        margin-bottom: 40px;
        justify-content: space-evenly;
        padding-top: 30px;
        padding-bottom: 40px;
    }
    .session9 .customers .speak:nth-child(2){
        display: none;
    }
    .session9 .customers .speak:nth-child(3){
        display: none;
    }
    .session9 .customers .speak{
        border: 1px solid transparent;
        box-shadow: -4px 2px 4px 1px rgb(236, 230, 230);
        width: 80%;
        justify-content: center;
        align-items: center;
        display: flex;
        flex-direction: column;
        text-align: justify;
        height: fit-content;
        border-radius: 16px;
        padding-top: 20px; 
        margin-bottom: 10px;
    }
    .session9 .customers .speak p {
        font-size: small;
        width: 90%;
        text-align: center;
    }
    /* .session9 .customers .speaky{
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgb(199, 195, 195);
         width: 408px;
        height: 492px;
        border-radius: 16px;

    } */
    /* .session9 .customers .speaker{
        border: 1px solid transparent;
        box-shadow: 4px 4px 4px rgb(199, 195, 195);
        width: 408px;
        height: 492px;
        border-radius: 16px;
        
    } */
    .arrow{
        display: flex;
        flex-direction: row;
        padding-bottom: 40px;
        margin-right: 60%;
        margin-top: 0px;
    }
    .avatar{
        align-items: center;
        justify-content: center;
        display: flex;
        flex-direction: row;
        text-align: center;
    }
    .avatar p{
        padding-top: 0px;
        align-items: center;
        justify-content: center;
    }
    .kind{
        display: flex;
        flex-direction: column;
        text-align: center;
        gap: 0px;
        color: #949EB0;
        
    }
    .change{
        flex-direction: column;
    }
  
}