@import url('https://fonts.googleapis.com/css2?family=DM+Sans:ital,wght@0,400;0,500;0,700;1,400;1,700&display=swap');

*{
    font-family: 'DM Sans', sans-serif;
}
.footer{
    background: #4E60D3;
    width: 100%;
    height: max-content;
    justify-content: center;
    align-items: center;
    display: flex;
    /* flex-direction: column; */
    overflow-x: hidden;
}
.footer .place{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    /* line-height: 30px; */
    margin: auto;
}
.footer .place .col{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    flex: 1;
    gap: 60px;
}
.footer .place .coly{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    flex: 1;
}
.footer .place .menu{
    width: 262px;
    border-radius: 5px;
    padding: 20px;
    padding-top: 0;
    padding-bottom: 60px; 
}
.footer .place .menu p{
    line-height: 36px;
    font-size: 16px;
    font-weight: 50;
    
}
.menu h3{
    padding-bottom: 10px;
}
.con{
    padding-top: 100px;
    display: flex;
    flex-direction: column;
    color: white;
}
.conn{
    display: flex;
    flex-direction: row;
    padding-top: 10px;
    gap: 30px;
}
.appWhite{
    padding-top: 15px;
    color: black;
}
.playWhite{
    padding-top: 15px;
}
.text-link{
    color: inherit;
    text-decoration: inherit;
}
.store{
    padding-top: 20px;
    gap: 10px;
    display: flex;
    flex-direction: column;
}
.players{
    border: 2px solid white;
    background-color: #130F26;
    border-radius: 13px;
    color: white;
    width: 85%;
    height: fit-content;
    display: flex;
    gap: 10px;
    padding-right: 10px;
    padding-left: 25px;
    padding-top: 7.3px;
    padding-bottom: 7.3px;
    font-weight: 400;
    font-size: 14.11px;
    font-family: 'DM Sans', sans-serif;
}

.players span{
    font-weight: 700;
    font-size: 20.11px;
}
.player{
 padding-top: 10px;
}
.downFlex{
    text-align: center;
}

  @media (min-width: 220px) and (max-width: 640px) {
    .footer{
        background-color: #363636;
        height: 550px;
    }
    .footer .place .mint{
        display: none;
    }
    .footer .place{
        display: flex;
        flex-direction: row;
        padding-top: 0px;
        align-items: center;
        line-height: 20px;
        justify-content: center;
        width: 70%;
        gap: 50px;
        font-size: small;
    }
    .footer .place .col{
        padding-top: 0px;
        padding-bottom: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 40px;
        width: 50%;
    }
    .footer .place .coly{
        padding-top: 0px;
        padding-bottom: 140px;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
        width: 50%;
    }
    .footer .place .menu{
        width: 90%;
        height: 90px;
        /* gap: 20px; */
        border-radius: 5px;
        padding-top: 0;
        padding-bottom: 20px; 
    }
    .footer .place .menu h3 {
        font-size: medium;
    }
    .footer .place .menu p{
        padding-top: 0px;
        line-height: 40px;
        font-size: small;
        font-weight: 50;
    }
    .con{
        padding-top: 320px;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .conn{
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        gap: 5px;
        padding-top: 0px;
    }
    .store{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .players{
        width: 100%;
        padding-top: 7px;
        padding-bottom: 7px;
        font-size: 60%;
        font-weight: 500;
        gap: 5px;
        padding-right: 10px;
        padding-left: 10px;
    }
    .players span{
        font-weight: 500;
        font-size: 13px;
    }
    .player{
        width: 21%;
    }
    .player img{
        width: 20px;
    }
    
  }

  @media (min-width: 641px) and (max-width: 768px) {
    .footer{
        background-color: #363636;
        height: max-content;
    }
    .footer .place{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        line-height: 20px;
    }
    .footer .place .menu{
        width: 80%;
        height: 102px;
        border-radius: 5px;
        padding-top: 0;
        padding-bottom: 20px; 
    }
    .footer .place .menu p{
        line-height: 15px;
        font-size: 12px;
        font-weight: 70;
    }
    .con{
        padding-top: 320px;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .conn{
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        gap: 5px;
        padding-top: 0px;
    }
    .store{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .players{
        width: 100%;
        padding-top: 13px;
        padding-bottom: 13px;
    }
    
  }

  @media (min-width: 769px) and (max-width: 1024px) {
    .footer .place{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    .footer .place .menu{
        width: 80%;
        height: 102px;
        border-radius: 5px;
        padding-top: 0;
        padding-bottom: 20px; 
    }
    .footer .place .menu p{
        line-height: 25px;
        font-size: 18px;
        font-weight: 80;
    }
    .con{
        padding-top: 320px;
        display: flex;
        flex-direction: column;
        color: white;
    }
    .conn{
        display: flex;
        flex-direction: row;
        padding-top: 10px;
        gap: 5px;
        padding-top: 0px;
    }
    .store{
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .players{
        width: 100%;
        padding-top: 13px;
        padding-bottom: 13px;
    }
  }
